In [19]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import resample
from statsmodels.api import OLS, add_constant
import ISLP

In [3]:
df = pd.read_csv("College.csv")
df.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [11]:
import random
random.seed(0)

In [13]:
len(df)

777

In [15]:
def bootstrap_ols(data):
    X = add_constant(data['Accept'])
    y = data['Grad.Rate']
    return OLS(y, X).fit().params.values #getting intercept, se

def bootstrap_se(est, data, size):
    estimates = [est(resample(data, replace=True)) for _ in range(size)] #estimating by bootstrapping size = original dataset size
    return np.std(estimates, axis=0, ddof=1) #getting std error

In [25]:
boot_std_err = bootstrap_se(bootstrap_ols, df, size =777)

#now running ols again without bootstrapping
X = add_constant(df['Accept'])
y = df['Grad.Rate']
lm1 = OLS(y, X).fit()

#bootstrap result
print('intercept', boot_std_err[0])
print('Accept', boot_std_err[1])

#normal ols
print(lm1.summary())

intercept 0.7655534046310011
Accept 0.00018589522261100447
                            OLS Regression Results
==============================================================================
Dep. Variable:              Grad.Rate   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     3.527
Date:                Fri, 04 Oct 2024   Prob (F-statistic):             0.0607
Time:                        21:39:21   Log-Likelihood:                -3309.7
No. Observations:                 777   AIC:                             6623.
Df Residuals:                     775   BIC:                             6633.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         64.5110      0.797     80.915      0.000      62.946      66.076
Accept         0.0005      0.000      1.878      0.061   -2.13e-05       0.001
==============================================================================
Omnibus:                        3.066   Durbin-Watson:                   1.775
Prob(Omnibus):                  0.216   Jarque-Bera (JB):                2.905
Skew:                          -0.097   Prob(JB):                        0.234
Kurtosis:                       2.772   Cond. No.                     4.11e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.11e+03. This might indicate that there are
strong multicollinearity or other numerical problems.